<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" >
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>

        <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
        <title>P-tracker {% block title %}{% endblock %}</title>
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>
    </head>

    <body>
        <header>
            <nav class="bg-light border navbar navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session['username'] %}
                            <a href="/index">
                            <img src="../static/Logo.png" class="navbar-brand" alt="Logo">
                            <ul class="navbar-nav me-auto mt-2">
                                {% if 'ADMIN' in session['roleNames'] %}
                                    <li class="nav-item"><a class="nav-link" href="/index">{{ _('Admin') }}</a></li>
                                {% endif %}
                                {% if 'Orders' in session['permissions'] and session['permissions']['Orders'] % 2 == 1 %}
                                    <li class="nav-item"><a class="nav-link" href="/orders">{{ _('Orders') }}</a></li>
                                {% endif %}
                                {% if 'FabricTypes' in session['permissions'] and session['permissions']['FabricTypes'] % 2 == 1 %}
                                    <li class="nav-item"><a class="nav-link" href="/fabricTypes">{{ _('FabricTypes') }}</a></li>
                                {% endif %}
                                {% if 'ProductionFactorys' in session['permissions'] and session['permissions']['ProductionFactorys'] % 2 == 1 %}
                                    <li class="nav-item"><a class="nav-link" href="/productionFactorys">{{ _('ProductionFactories') }}</a></li>
                                {% endif %}
                                {% if 'FabricOrders' in session['permissions'] and session['permissions']['FabricOrders'] % 2 == 1 %}
                                    <li class="nav-item"><a class="nav-link" href="/fabricOrders">{{ _('FabricOrders') }}</a></li>
                                {% endif %}
                                {% if 'OrderColors' in session['permissions'] and session['permissions']['OrderColors'] % 2 == 1 %}
                                    <li class="nav-item"><a class="nav-link" href="/orderColors">{{ _('OrderColors') }}</a></li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav me-auto mt-2">
                                {% if 'MUSTERITEMSIL' in session['roleNames'] %}
                                    <li class="nav-item"><a class="nav-link" href="/mtconsole">{{ _('Merchandiser') }}</a></li>
                                {% endif %}
                                {% if 'KUMASALMA' in session['roleNames'] %}
                                    <li class="nav-item"><a class="nav-link" href="/kaconsole">{{ _('Fabric Purchase') }}</a></li>
                                {% endif %}
                                {% if 'KALIP' in session['roleNames'] %}
                                    <li class="nav-item"><a class="nav-link" href="/pmconsole">{{ _('Pattern Maker') }}</a></li>
                                {% endif %}
                            </ul>

                            <ul class="navbar-nav me-auto mt-2">
                            </ul>
                            <ul class="navbar-nav ms-auto mt-2">
                                {% if session['lang'] == "en_US" %}
                                    <li class="nav-item"><a class="nav-link btn" href="/switchLang__TR">TR</a></li>
                                    <li class="nav-item"><a class="nav-link btn btn-info" href="/switchLang__EN">EN</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link btn btn-info" href="/switchLang__TR">TR</a></li>
                                    <li class="nav-item"><a class="nav-link btn" href="/switchLang__EN">EN</a></li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav ms-auto mt-2">
                                <li class="nav-item"><a class="nav-link" href="/profile">
                                    <button class="round-button transparent-button">{{ session['username'] }}</button>
                                </a></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">
                                    <button class="round-button transparent-button">{{ _('Log Out') }}</button>
                                </a></li>
                            </ul>
                        {% else %}
                            <a class="navbar-brand" href="/"><span class="black">Ana sayfa</span></a>
                            <ul class="navbar-nav ms-auto mt-2">
                                <li class="nav-item"><a class="nav-link round" href="/sign_in">
                                    <button class="round-button ringed-button">{{ _('Sign Up') }}</button>
                                </a></li>
                                <li class="nav-item"><a class="nav-link" href="/login">
                                    <button class="round-button transparent-button">{{ _('Log In') }}</button>
                                </a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}

            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            <div class="center">
                Created by Karacaer Bros 2023
            </div>
        </footer>

    </body>

</html>
